body {
  font-size: 120%;
  font-family: "Questrial", sans-serif;
  background-image: url("./images/lined_paper.png");
}

h1 {
  text-shadow: 2px 3px 3px rgb(39, 38, 38);
  color: white;
  padding: 10px;
  font-size: 45pt;
}

button,
input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #6cc052;
}
tr:nth-child(even) {
  background-color: #bbdab2;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  background-color: white;
  box-shadow: 6px 8px 8px gray;
}

.total {
  background-image: url("./images/moneyTree.png");
  background-size: cover;
  background-image: no-repeat;
  font-size: 130%;
  padding: 45px;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#myChart {
  background-color: rgb(243, 248, 241);
}
